h2, h1, p, span, footer, div, a, br, body, html, span, form, nav, input[type="button"], img, ul, li, h3, h4, h5, h6,textarea {
  padding: 0;
  /*    display:block;*/
  border: 0;
  box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	height:100%;
	font-family:Roboto;
}

h2,h1 {
	color:#7f8c8d;
	font-size:5em;
	text-align:center;
	font-family: Bebas Neue;
	height:100px;
  line-height:100px;
	margin:0;
	-webkit-text-stroke: 0.5px #FFF;
}

header div{
	display:inline-block;
}

#front_page{
	width:49,7%;
}

#front_page2{
	width:50%;
	vertical-align:top;
}
#arrow{
	width:100%;
	margin-left:30px;
	display:inline-block;
}

#arrow a, #arrow img{
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}

#arrow a {
	text-decoration:none;
	color:Black;
}