h2, h1, p, span, footer, div, a, br, body, html, span, form, nav, input[type="button"], img, ul, li, h3, h4, h5, h6,textarea {
  padding: 0;
  /*    display:block;*/
  border: 0;
  box-sizing: border-box;
}

@font-face{
  font-family:'Blacksword';
  src:url('../typo/Blacksword.otf');
}

@font-face{
  font-family:"Raleway";
  src:url('../typo/Raleway-Regular.ttf');
}

body {
	margin:0;
	padding:0;
	height:100%;
}

#space {
	width:100%;
	height:50px;
}

h1 {
	color:white;
	font-size:50px;
	text-align:center;
	font-family: Blacksword;
	height:100px;
  line-height:100px;
	margin:0;
	font-weight: normal;
}

h2{
	color:white;
	font-size:40px;
	text-align:center;
	font-family: Blacksword;
	height:100px;
  line-height:100px;
	margin:0;
	font-weight: normal;
}

.line {
	background-color: #C6283D;
	display: block;
margin: 0 auto;
width: 35px;
	height:3px;
margin-top:10px;
}

.line-paragraphe{
background-color: #C6283D;
display: block;
width: 35px;
height:3px;
margin:10px 0px 10px 0px;
}

#border-picture{
	border:1px solid #C6283D;
	height:0px;
  border-radius:5px;
}

h5 {
  text-align:center;
	font-family: Raleway;
	font-size:1.8em;
  margin:0;
  text-transform: uppercase;
}

/*********************** MENU NAV *******************/

nav {
position:absolute;
text-align: right;
width:100%;
}

nav li {
display: inline-block;
	position: relative;
	top: 1.2em;
	right: 12%;
}

nav a{
	font-family: Raleway;
	font-size: 18px;
	color: white;
	margin: 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

nav li a::after {
		position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: red;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

nav a:hover::after,
nav a:focus::after {
	height: 1px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}



/*********************** HOME PAGE **************************/
#home_page span{
	display:block;
	width:70%;
	margin-left:auto;
	margin-right:auto;
  position: relative;
  top: 45%;
	-webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
   transform: translateY(-50%);
}

#home_page ul{
width:30%;
	margin: 0 auto;
	position:relative;
	top:40%;
	text-align:center;
display: flex;
justify-content: center;
}

#home_page li{
	/*! display:inline-block; */
	padding: 0px 15px 0px ;
	text-decoration: none;
	list-style-type: none;
}

#home_page li img{
	width:50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#home_page li img:hover {
	transform: scale(1.2);
}

#home_page {
	/*! -webkit-filter: brightness(40%); */
	height:100vh;
	background-image: url('../images/baniere.jpg');
	background-size:cover;
	background-position:center;
	background-repeat: no-repeat;

}

/***************************** Section CV ****************************************************************************************/
#front_page {
height:auto;
font-family:Day Roman;
	background-color:#FFFFFF;
}

#presentation {
	width:70%;
	margin:auto;
	margin-top: 50px;
	text-align: center;
}

#presentation img{
	width:400px;
	/*! height:300px; */
	/*! overflow: hidden; */
}

#presentation img, #presentation p {
	display:inline-block;
	margin:auto;
  padding-top:10px;
}

#presentation p {
	width:50%;
	font-family:raleway;
	font-size:16px;
	margin-left:60px;
	line-height: 30px;
	text-align: left;
}

#presentation p::first-letter {
	font-size:25px;
  font-weight:bold;
	font-family: Walkway;
	}

#presentation a:hover{
	border: 4px solid black;
}


/************************ SKILLS *********************/

#competences {
	border-radius:2px;
	width:70%;
	background-color:rgb(255,255,255);
	margin:auto;
	margin-top:50px;
	padding-bottom:50px;
	font-family: raleway;
}

#skills{
	display:flex;
}

#skills h3 {
	text-align:center;
	font-family:Raleway;
	text-transform: uppercase;
height:auto;
	font-size: 1.5em;
}

.skills {
	width:auto;
	height:auto;
  margin: 20px auto 0px auto;
	width:30%;
	vertical-align:top;
	text-align:center;
	border: 1px solid black;
	/*! border-radius:5px; */
	padding:5px;
}

.skills img{
	-webkit-transform: translateY(13px);
	-moz-transform: translateY(13px);
	transform: translateY(13px);
}
/**************************** PORTFOLIO ********************************************************/
#Portfolio {
	height:auto;
  padding: 5% 0% 5% 0%;
	/*! background-color:rgb(243,243,243); */

}

.portfolio {
	margin-top:0;
	font-size: 36px;
	text-align:center;
	color: black;
	font-family:Raleway;
	text-transform: uppercase;
	margin:auto;
	width:210px;
}

.wrapper {
  display:flex;
	width:78.6%;
	height:auto;
  margin:auto;
	text-align:center;
  padding: 50px 0px 50px 0px;
  /*! -webkit-align-items: center; */
  align-items: center;
  /*! -webkit-justify-content: center; */
  justify-content: center;
  /*! -webkit-flex-direction: row; */
  flex-direction: row;
  /*! -webkit-flex-wrap: wrap; */
  flex-wrap: wrap;
  /*! -webkit-flex-flow: row wrap; */
  flex-flow: row wrap;
  /*! -webkit-align-content: flex-end; */
  align-content: flex-end;
  margin-top: 20px;
}

span.rollover {
	opacity: 1;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
	background:url(../images/mag.png) center center no-repeat red;
	cursor: pointer;
	width: 350px;
	height: 250px;
	position: absolute;
	z-index: 10;
	opacity: 0;
}

span.rollover:hover {
	opacity: .7;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
}

.image{
	filter: brightness(90%);
}

.wrapper img{
	width:350px;
	height:250px;
	padding:1px;

}
/********************************* FOOTER *******************************************************/

footer {
	border-top: 1px solid black;
	text-align:center;
	color:white;
	background-color:#000;
	margin:0;
	padding:0;
	height:55px;
}

footer a {
	color:white;
}
